body {
    background-color:#01150b;
    color: #eef8ff;
}
#admin {
    background-color: #eef8ff;
    color: #151515;
}
.nav-bg-perso {
    background-color: rgba(0, 0, 0, 0.95) !important;
    position: sticky;
}

.ingredients{
    list-style-type: none;
    margin: 0;
}
.detail-title{
    color: #57b201;
}
.detail-text{
 border:1px solid #0a3622;
}
.ingredient{
    border:1px solid #57b201;
    margin-bottom: 5px;
    padding: 3px 15px;
}
.accordion-item,.accordion-header,.accordion-button {
    background-color:#031e11 !important;
    border: 1px solid #031e11 !important;
    color: #c1c1c1 !important;
}
.accordion-body input {
    background-color: #032113;
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 20px;
    color: #f1f1f1;
    outline: none;
}
#admin .accordion-body input, #admin .accordion-body select {
    background-color: #f6f7f7;
    color: #4d4d4d;
}
#admin #colors .badge:empty {
    display: inline-block !important;
}
.accordion-body .price {
    width: 110px;
}
.accordion-body select {
    background-color: #032113;
    border: none;
    height: 38px;
    border-radius: 5px;
    color: #8a8a8a;
    outline: none;
}
.accordion-body input:focus {
    border: 1px solid #418bfc;
    box-shadow: 0 0 10px rgba(13, 71, 161, 0.8);
}
.card {
    background-color: #031e11;
    border: 1px solid #1e1e1e;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgba(107, 161, 13, 0.8);
    margin: 10px;
    padding: 10px;
    width: 15rem;
    height: 23rem;
    color:#c1c1c1 !important;
    cursor: pointer;
    transition: .4s;
}
.card:hover {
    box-shadow: 0 0 20px rgba(107, 161, 13, 1);
}

.image-card-perso {
    width: 100%;
    height: 65%;
    max-height: 65%;
    object-fit: cover;
    }

a {
    color: #c1c1c1 !important;
    font-size: 16px !important;
    font-weight: bold !important;
    text-decoration: none !important;
}
#mainContent {
    margin-bottom: 35px;
}
.hero {
    height: 80vh;
    background: url("../images/bg/bgg.jpg");
    background-size: auto;
    border-top:1px solid rgba(73, 191, 5, 0.25);
    margin-bottom: 35px !important;
}

#admin #mainContent {
    min-height: 75vh;
    background: url("../images/bg/cocktail-tweed.png") no-repeat;
    /*background-size: contain;*/
}

.navbar-brand {
    color: #57b201 !important;
    font-size: 1.5em !important;
}

.login-button {
    display: inline-block;
    background-color: #42A5F5;
    padding: 1px;
    border-radius: 6px;
    font-size: 25px !important;
    margin-left: 10px;
}

.login-button:hover {
    background-color: #3f8302;
    transition: .4s;
}
.hero-text {
    background-color: rgba(0, 1, 36, 0.75);
    padding: 20px 50px;
    text-align: right;
}
.hero-button {
    display: inline-block;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 10px 15px;
    background-color: #57b201;
}
.hero-button:hover {
    background-color: #3f8302;
    transition: .4s;
}

.pagination .btn-outline-primary {
    border:1px solid #57b201 !important;
    color: #fff !important;
}
.pagination .btn-outline-primary:hover {
    background-color:#57b201 !important;
    color: #fff !important;
}
.pagination .btn-outline-primary.active {
    background-color:#57b201 !important;
}
.card .btn-dark {
    background-color: #57b201 !important;
    font-size: 12px !important;
}

/* MODALS */

.membre .modal-content {
    color: #979797 !important;
    background-color: #101010;
    border: 1px solid #222222;
}
.membre .modal-header {
    border-bottom: 1px solid #222222;
}
.membre .modal-footer {
    border-top: 1px solid #222222;
}
.modal-footer .btn-primary {
    background-color: #57b201;
    border-color: rgba(87, 178, 1, 0.5);
}
.membre .modal-content input, .membre .modal-content select {
    background-color: #0a1610;
    color: #d2d2d2;
    font-weight: bold;
    border: 1px solid #0a1610;
    outline: none !important;
}
#admin .modal-content {
    background-color: #E3F2FD !important;
}
#admin .modal-content .form-control,#admin .modal-content .form-select {
    background-color: #d5e0f4;
    flex: 2;
}
.membre .modal-content input:focus, .membre .modal-content select:focus {
    background-color: #0a1610;
    color: #d2d2d2;
    border: 1px solid #0a1610;
    outline: none !important;
}
.btn-close {
    color: #ffffff !important;
}
.modal-content .form-control:focus {
    border: 1px solid #57b201;
    box-shadow: none;
}

.modal-title i {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0c252a;
    color: #ffffff;
    text-align: center;
    line-height: 38px;
    margin-right: 9px;
}
.input-group label {
    flex: 1;
}
#erreursInscription, #erreursLogin {
    margin-bottom: 3rem;
}
p.alert{
    padding: 0.5rem 1rem;
    background-color: #440005;
    color: #cccccc;
    border: none;
    margin-bottom: 8px;
}
.card-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #b5deff;
    border-radius: 10px;
    margin: 5px 0;
    padding: 0 15px 0 0;
    color: #171717 !important;
    cursor: pointer;
    transition: .4s;
}
.card-horizontal:hover {
    background-color: #b5deff;
    border: 1px solid #b5deff;
    transition: .4s;
}
#admin .card{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 2px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#admin  .card-img {
    width: 64px;
    height: 64px;
    border-radius: 9px 0 0 9px;
}

#admin .card-body {
    flex: 1;
    margin-left: 15px;
    margin-top: 10px;
    padding: 0px;
}

#admin .card-body h5 {
    margin-bottom: 5px;
    font-size: 1.1rem;
}

#admin .card-body p {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

#admin .accordion-item {
    color: #000000 !important;
    background-color: #dee8ff !important;
    /*box-shadow: 1px 1px 5px #636faf;*/
    border: none !important;
    overflow: hidden;
}
#admin .accordion-header {
    color: #1e1e1e !important;
    background-color: #dee8ff !important;
    border: none !important;
}
#admin .accordion-button {
    color: #1e1e1e !important;
    background-color: #dee8ff !important;
    border: none !important;
    outline: none !important;
}
#admin .accordion-button:focus {

    outline: none !important;
    box-shadow: none !important;
}



#admin .pagination .btn-outline-primary {
    /*border: 1px solid #2196F3 !important;*/
    color: #57b201 !important;
}
#admin .pagination .btn-outline-primary:hover {
    /*background-color: #2196F3 !important;*/
    color: #fff !important;
}
#admin .pagination .btn-outline-primary.active {
    /*background-color: #2196F3 !important;*/
    color: #fff !important;
}

#addCocktailBtn {
    font-size: 2rem;
    height: 52px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    background-color: #42a5f5;
    border-color: #42a5f5;
    box-shadow: 1px 1px 5px #034abe;
}



#loggedIn {
    background-color: #d8d8d817;
    padding: 2px 2px 2px 4px;
    color: #57b201;
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid rgba(87, 178, 1, 0.25);
}

.card-horizontal.entete {
    border: 1px solid #b2c9fe3d !important;
    background-color: #dee8ff;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #3b548c !important;
}
.color-row {
    min-width: 40px;
    position: relative;
    margin-right: 10px;
}
.color-row .deleteColor {
    text-align: center;
    background-color: #000000;
    color: #d7d5d5;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 15px;
    border-radius: 50px;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}
.color-row .deleteColor:hover{
    background-color: #9f000d;
}
#ingredientsList, #ingredientsListHeader  {
    margin: 0 15px;
}
.ingredient-row{
    border: 1px solid #d5e0f4;
    position: relative;
    margin-bottom: 10px;
    padding: 4px 0;
    border-radius: 5px;
}


.deleteIngredient {
    text-align: center;
    background-color: #000000;
    color: #d7d5d5;
    width: 30px;
    height: 24px;
    line-height: 19px;
    border-radius: 5px;
    position: absolute;
    top: -10px;
    right: -8px;
    cursor: pointer;
}
.deleteIngredient:hover{
    background-color: #9f000d;
}
#cocktailModal .modal-header {
    padding: 5px 15px;
}
.image-container, .ingredients-container{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced7e6;
    margin: 10px 5px 5px 5px;
}
/*#admin .modal-title {*/
/*    display: inline-block;*/
/*    width: 35px;*/
/*    height: 35px;*/
/*    border-radius: 50%;*/
/*    background-color: #0c252a;*/
/*    color: #ffffff;*/
/*    text-align: center;*/
/*    line-height: 32px;*/
/*    margin-right: 9px;*/
/*}*/
