<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktello</title>
    <link rel="stylesheet" href="/utilitaires/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/utilitaires/bootstrap-icons-1.8.1/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/utilitaires/jquery-3.7.1.min.js"></script>
    <script src="/utilitaires/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script src="/js/app.js" type="module"></script>
</head>

<body id="admin" style="position: relative">
<header>
    <!-- Barre de navigation-->
    <nav class="navbar navbar-expand-lg nav-bg-perso fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Cocktello</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Liste</a>
                    </li>
                </ul>
            </div>

            <ul id="loggedIn" class="navbar-nav nav-perso-droit d-none">
                <li class="nav-item">
                    <img class="rounded-circle me-2" src="/images/bg/terrence.png" alt="img" width="40">
                    <span id="memberName"></span>
                </li>
                <li class="nav-item">
                    <a type="button"
                       class="btn btn-primary nav-link login-button"
                       title="Se déconnecter" id="logout">
                        <i class="bi bi-box-arrow-in-right"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main id="mainContent">
    <section class="container">
        <div>
            <h2 class="mb-5 mt-5 align-content-center" id="listeCocktails"><i class="bi bi-card-list"></i> Gestion des cocktails</h2>

            <div class="d-flex justify-content-between align-items-start">

                    <div class="accordion mb-3 flex-grow-1" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="bi bi-funnel me-2"></i> Filtrer
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <form method="get" id="filter" class="d-flex justify-content-between">
                                        <label for="nom"></label><input type="text" name="name" id="nom" placeholder="Nom du cocktail">
                                        <label for="id"></label><input type="text" name="id" id="id" placeholder="Id du cocktail">
                                        <label for="ingredient"></label><input type="text" name="ingredient" id="ingredient" placeholder="Ingredient">
                                        <label for="minPrix"></label><input type="text" name="minPrix" id="minPrix" class="price" placeholder="Prix min.">
                                        <label for="maxPrix"></label><input type="text" name="maxPrix" id="maxPrix" class="price" placeholder="Prix max.">
                                        <label for="orderBy"></label>
                                        <select class="form-select-sm" type="text" name="orderBy" id="orderBy">
                                            <option value="">Order By</option>
                                            <option value="id">ID</option>
                                            <option value="prix">Prix</option>
                                        </select>
                                        <label for="order"></label>
                                        <select class="form-select-sm" type="text" name="order" id="order" >
                                            <option value="">Order</option>
                                            <option value="ASC">ASC</option>
                                            <option value="DESC">DESC</option>
                                        </select>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="addCocktailBtn" class="btn btn-primary">
                        <i class="bi bi-plus-circle"
                           data-bs-toggle="modal"
                           data-bs-target="#cocktailModal"
                           data-bs-type="new"
                           title="Ajouter un cocktail" >
                        </i>
                    </button>
            </div>

            <div id="contenu" ></div>
            <!-- Pagination -->
            <nav aria-label="Pagination des films" class="d-flex justify-content-center mt-5">
                <ul class="pagination" id="pagination"></ul>
            </nav>
        </div>

    </section>

</main>
<!-- Debut Modal cocktail -->
<div class="modal fade" id="cocktailModal" tabindex="-1" aria-labelledby="cocktailModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="cocktailForm" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="bi bi-cup-straw"></i>  <span id="cocktailModalTitle">Ajouter un Cocktail</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <div id="cocktailErrors"></div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3 input-group">
                                <label for="name" class="form-label">Nom *</label>
                                <input type="text" name="name" id="name" class="form-control form-control-sm" aria-describedby="nameHelpBlock" required>
                            </div>
                            <div class="mb-3 input-group">
                                <label for="prix" class="form-label" >Prix *</label>
                                <input type="text" name="price" id="prix" class="form-control form-control-sm" aria-describedby="prixHelpBlock" required>

                            </div>
                            <div class="mb-3 input-group">
                                <label for="garnish" class="form-label" >Garniture</label>
                                <input type="text" name="garnish" id="garnish" class="form-control form-control-sm" aria-describedby="garnishHelpBlock" >
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="mb-3 ">
                                <div class="row">
                                    <div class="col-3"><p class="form-label">Couleurs </p></div>
                                    <div class="col-7">
                                        <div id="colorListHeader" class="d-none">Aucune couleur assignée.</div>
                                        <div class="d-flex flex-wrap" id="colors">
                                    </div>
                                    </div>
                                    <div class="col-2">
                                        <button id="addColor" type="button" class="btn btn-sm btn-secondary" title="Ajouter une couleur">
                                            <i class="bi bi-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <div class="mb-3 input-group">
                                <label for="type" class="form-label">Catégorie</label>
                                <select id="type" name="category" class="form-select form-select-sm" >
                                    <option value=""></option>
                                    <option value="Long Drink">Long Drink</option>
                                    <option value="All Day Cocktail">All Day Cocktail</option>
                                    <option value="Sparkling Cocktail">Sparkling Cocktail</option>
                                    <option value="Before Dinner Cocktail">Before Dinner Cocktail</option>
                                    <option value="After Dinner Cocktail">After Dinner Cocktail</option>
                                </select>
                            </div>

                            <div class="mb-3 input-group">
                                <label for="glass" class="form-label">Verre</label>
                                <select id="glass" name="glass" class="form-select form-select-sm" >
                                    <option value=""></option>
                                    <option value="collins">collins</option>
                                    <option value="martini">martini</option>
                                    <option value="old-fashioned">old-fashioned</option>
                                    <option value="highball">highball</option>
                                    <option value="champagne-flute">champagne-flute</option>
                                    <option value="margarita">margarita</option>
                                    <option value="champagne-tulip">champagne-tulip</option>
                                    <option value="hurricane">hurricane</option>
                                </select>
                            </div>

                        </div>
                    </div>

                        <label for="preparation" class="form-label">Préparation *</label>
                        <textarea  name="preparation" rows="2" id="preparation" class="form-control form-control-sm"  required></textarea>


                    <div class="mt-3 ingredients-container">
                        <div class="d-flex justify-content-between mb-4">
                            <h6>Les ingrédients</h6>
                            <button type="button" id="addIng" class="btn btn-sm btn-secondary" title="ajouter un ingrédient" data-bs-type="addIng"><i class="bi bi-plus-circle"></i> Ajouter</button>
                        </div>
                        <div id="ingredientsListHeader">

                        </div>
                        <div id="ingredientsList">

                        </div>
                    </div>
                    <div class="row image-container">
                        <div class="col-4">
                            <img class="rounded" id="imagePreview" src="/images/bg/no_image.jpg" width="130">
                        </div>
                        <div class="col-8">
                            <label for="image" class="form-label" id="imageFileLabel">Image du cocktail</label>
                            <input class="form-control form-control-sm" name="image" id="image" type="file">
                        </div>
                    </div>
                    <div class="form-text text-danger">
                        Les champs avec (*) sont obligatoires !
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary" data-type="new" id="processBtn">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Fin Modal cocktail -->

<!-- Debut Modal Details cocktail -->
<div class="modal fade" id="detailsCocktailModal" tabindex="-1" aria-labelledby="cocktailModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="bi bi-cup-straw"></i> Détail du cocktail  <span id="cocktailDetailModalTitle"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <div style="height: 220px;width: 220px; overflow: clip">
                            <img id="cocktailImage" src="" height="220">
                        </div>
                    </div>
                    <div class="col-8">
                        <h2 id="cocktailDetailsName"></h2>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button id="updateCocktail" class="btn btn-primary btn-modifier"
                            data-bs-toggle="modal"
                            data-bs-target="#updateCocktailModal"
                            data-bs-type="update"
                            data-bs-id=""
                            data-bs-name=""
                    >
                        <i class="bi bi-pencil" data-id=""></i> Mettre à jour
                    </button>

                    <button id="deleteCocktail" class="btn btn-danger btn-supprimer"
                            data-bs-toggle="modal"
                            data-bs-target="#cocktailDeleteModal"
                            data-bs-type="delete"
                            data-bs-id=""
                            data-bs-name=""
                    >
                        <i class="bi bi-trash" data-id=""></i> Supprimer
                    </button>
                </div>
        </div>
    </div>
</div>
<!-- Fin Modal details cocktail -->
<!-- Modal Confirmation Suppression Cocktail -->
<div class="modal fade" id="cocktailDeleteModal" tabindex="-1" aria-labelledby="cocktailDeleteModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="bi bi-trash-fill"></i>  <span id="cocktailDeleteModalTitle">Supprimer un cocktail</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <div id="erreursCocktailDelete"></div>
                    <p class="mb-2 text-center text-danger fs-1"><i class="bi bi-exclamation-triangle-fill "></i> <b>Attention !</b></p>
                    <p class="mb-1 text-center">Vous êtes sur le point de supprimer le cocktail <b> " <span id="cocktailName"></span> "</b></p>
                    <p class="mb-1 text-center">Voulez-vous vraiment procéder à la suppression ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger" id="deleteBtn">Supprimer</button>
                </div>
        </div>
    </div>
</div>
<!-- Fin Modal confirmation suppression cocktail -->

<!-- Toast Container -->
<div class="toast-container position-fixed top-0 end-0 mt-5 p-3">
    <!-- Toast Success -->
    <div id="toastSuccess" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body"><i class="bi bi-check-circle"></i><span id="toastMessage" class="mx-2">Opération réussie !</span></div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

    <!-- Toast Error -->
    <div id="toastError" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">Une erreur est survenue.</div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<footer>
    <p>© 2024 - Cocktello</p>
</footer>

<script>



</script>

</body>

</html>