<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktello</title>
    <link rel="icon" type="image/x-icon" href="/images/logo/favicon.png">
    <link rel="stylesheet" href="/utilitaires/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/utilitaires/bootstrap-icons-1.8.1/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/utilitaires/jquery-3.7.1.min.js"></script>
    <script src="/utilitaires/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/app.js" type="module"></script>

</head>

<body style="position: relative">
    <header>
        <!-- Barre de navigation-->
        <nav class="navbar navbar-expand-lg nav-bg-perso fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="/images/logo/logo_cocktello_black_bg.png" height="35" alt="logo cocktello"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a id="listerCocktails" class="nav-link" href="#listeCocktails">Liste</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a id="admin-link" class="nav-link d-none" href="/admin" title="Aller dans l'espace admin"><i class="bi bi-person-workspace me-2"></i> Espace Admin </a>
                        </li>
                    </ul>
                </div>
                <ul id="loggedOut" class="navbar-nav nav-perso-droit">
                    <li class="nav-item">
                    <a type="button"
                       class="btn btn-primary nav-link login-button"
                       data-bs-toggle="modal"
                       data-bs-target="#inscriptionModal"
                       title="Créer un compte">
                        <i class="bi bi-person-plus"></i>
                    </a>
                    </li>
                    <li class="nav-item">
                        <a type="button"
                           class="btn btn-primary nav-link login-button"
                           data-bs-toggle="modal"
                           data-bs-target="#connexionModal"
                           title="Se connecter">
                            <i class="bi bi-box-arrow-in-left"></i></a>
                    </li>
                </ul>
                <ul id="loggedIn" class="navbar-nav nav-perso-droit d-none dropdown">
                    <li class="nav-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img id="memberImg" class="rounded-circle me-2" src="/images/bg/no_photo.png" alt="img" width="40">
                        <span id="memberName"></span>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                   href="#"
                                   data-bs-toggle="modal"
                                   data-bs-target="#inscriptionModal"
                                   data-type="update"
                                   id="profile-link"
                            >
                                <i class="bi bi-person-lines-fill me-2 "></i> Modifier le profil</a></li>
                            <li><a class="dropdown-item"
                                   href="#"
                                   data-bs-toggle="modal"
                                   data-bs-target="#resetPasswordModal"
                                   data-type="change-password"
                                   id="profile-password"
                            >
                                <i class="bi bi-shield-lock me-2"></i> Modifier le Mot de passe</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a id="logout-link" class="dropdown-item" href="#"><i class="bi bi-box-arrow-in-right me-2 "></i> Se déconnecter</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a type="button"
                           class="btn btn-primary nav-link login-button"
                           title="Se déconnecter" id="logout">
                            <i class="bi bi-box-arrow-in-right"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main id="mainContent">
        <div class="row m-0 hero justify-content-center">
            <div class="col-6 hero-text  align-content-center">
                <h1>Cocktello <span id="typed-elements"></span> </h1><br>
                <a class="hero-button" href="#listeCocktails">Voir la liste des cocktails <i class="bi bi-arrow-down-circle-fill"></i> </a>
            </div>
            <div class="col-6"></div>

        </div>
        <section class="container">
            <div>
                <h2 class="mb-5" id="listeCocktails"><i class="bi bi-card-list"></i> Liste des cocktails</h2>

                <div class="accordion mb-3" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="bi bi-funnel me-2"></i> Filtrer
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <form method="get" id="filter" class="d-flex justify-content-between">
                                    <label for="nom"></label><input type="text" name="name" id="nom" placeholder="Nom du cocktail">
                                    <label for="ingredient"></label><input type="text" name="ingredient" id="ingredient" placeholder="Ingredient">
                                    <label for="minPrix"></label><input type="text" name="minPrix" id="minPrix" class="price" placeholder="Prix min.">
                                    <label for="maxPrix"></label><input type="text" name="maxPrix" id="maxPrix" class="price" placeholder="Prix max.">
                                    <label for="orderBy"></label>
                                    <select class="form-select-sm" type="text" name="orderBy" id="orderBy">
                                        <option value="">Trier Par</option>
                                        <option value="name">Nom</option>
                                        <option value="price">Prix</option>
                                    </select>
                                    <label for="order"></label>
                                    <select class="form-select-sm" type="text" name="order" id="order" >
                                        <option value="">Ordre</option>
                                        <option value="ASC">ASCENDANT</option>
                                        <option value="DESC">DESCENDANT</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="contenu" class="row"></div>
                <!-- Pagination -->
                <nav aria-label="Pagination des films" class="d-flex justify-content-center mt-5">
                    <ul class="pagination" id="pagination"></ul>
                </nav>
            </div>

        </section>

    </main>
    <!-- Modal Inscription -->
    <div class="modal fade  membre" id="inscriptionModal" tabindex="-1" aria-labelledby="inscriptionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="inscriptionForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="inscriptionModalLabel"><i class="bi bi-person-plus"></i> <span id="memberModalTitle">Devenir Membre</span> </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <div id="erreursInscription"></div>
                    <div class="mb-3 input-group">
                        <label for="firstname" class="form-label">Votre prénom *</label>
                        <input type="text" name="firstname" id="firstname" class="form-control" aria-describedby="firstnameHelpBlock" required>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="lastname" class="form-label" >Votre nom *</label>
                        <input type="text" name="lastname" id="lastname" class="form-control" aria-describedby="lastnameHelpBlock" required>

                    </div>
                    <div class="mb-3 input-group">
                        <label for="email" class="form-label" >Votre Email *</label>
                        <input type="email" name="email" id="email" class="form-control" aria-describedby="courrielHelpBlock" required>
                    </div>

                    <div class="mb-3 input-group">
                        <label for="address" class="form-label">Votre adresse *</label>
                        <input type="text" id="address" name="address" class="form-control" aria-describedby="addressHelpBlock" required>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="sex" class="form-label">Votre sexe</label>
                        <select id="sex" name="sex" class="form-control" >
                            <option value=""></option>
                            <option value="H">Homme</option>
                            <option value="F">Femme</option>
                            <option value="">Autre</option>
                        </select>
                    </div>

                    <div class="mb-3 input-group">
                        <label for="password" class="form-label" >Mot de passe *</label>
                        <input type="password" id="password" name="password" class="form-control" aria-describedby="register_passwordHelpBlock" required>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="repeat_password" class="form-label" >Répéter le mot de passe *</label>
                        <input type="password" id="repeat_password" name="repeat_password" class="form-control" aria-describedby="repeat_passwordHelpBlock" required>
                    </div>
                    <div class="row image-container">
                        <div class="col-4">
                            <img class="rounded" id="imagePreview" src="/images/bg/no_image.png" width="130">
                        </div>
                        <div class="col-8">
                            <label for="image" class="form-label" id="imageFileLabel">Votre photo</label>
                            <input class="form-control form-control-sm" name="image" id="image" type="file">
                        </div>
                    </div>
                    <div class="form-text text-warning">
                        Les champs avec (*) sont obligatoires !
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary" id="registerBtn">Enregistrer</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Fin Modal Inscription -->

    <!-- Modal Connexion -->
    <div class="modal fade membre" id="connexionModal" tabindex="-1" aria-labelledby="connexionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="loginForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="connexionModalLabel"><i class="bi bi-box-arrow-in-left"></i> Se Connecter</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                    </div>
                    <div class="modal-body">
                        <div id="erreursLogin"></div>
                        <div class="mb-4">
                            <label for="login_email"  class="form-label">Votre E-mail *</label>
                            <input type="email" name="email" id="login_email" class="form-control" aria-describedby="loginEmailHelpBlock" required>
                        </div>
                        <div class="mb-4">
                            <label for="login_password" class="form-label" >Votre password *</label>
                            <input type="password" name="password" id="login_password" class="form-control" aria-describedby="loginPasswordHelpBlock" required>
                        </div>

                        <div class="form-text text-warning">
                            Les champs avec (*) sont obligatoires !
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Fin Modal Connexion-->

    <!-- Modal Reset Password -->
    <div class="modal fade membre" id="resetPasswordModal" tabindex="-1" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="resetPasswordForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="resetPasswordModalLabel"><i class="bi bi-lock"></i> Changer Mot De Passe</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                    </div>
                    <div class="modal-body">
                        <div id="erreursResetPassword"></div>
                        <div class="mb-4">
                            <label for="oldPassword"  class="form-label">Ancien mot de passe *</label>
                            <input type="password" name="oldPassword" id="oldPassword" class="form-control" aria-describedby="oldPasswordHelpBlock" required>
                        </div>
                        <div class="mb-4">
                            <label for="newPassword" class="form-label" >Nouveau mot de passe *</label>
                            <input type="password" name="newPassword" id="newPassword" class="form-control" aria-describedby="newPasswordHelpBlock" required>
                        </div>
                        <div class="mb-4">
                            <label for="newPasswordRepeat" class="form-label" >Répéter le nouveau MDP *</label>
                            <input type="password" name="newPasswordRepeat" id="newPasswordRepeat" class="form-control" aria-describedby="newPasswordRepeatHelpBlock" required>
                        </div>

                        <div class="form-text text-warning">
                            Les champs avec (*) sont obligatoires !
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Fin Modal Reset Password-->

    <!-- Toast Container -->
    <div class="toast-container position-fixed top-0 end-0 mt-5 p-3">
        <!-- Toast Success -->
        <div id="toastSuccess" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body"><i class="bi bi-check-circle"></i><span id="toastMessage" class="mx-2">Opération réussie !</span></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <!-- Toast Error -->
        <div id="toastError" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">Une erreur est survenue.</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <footer>
        <p><img src="/images/logo/logo_cocktello_dark_bg.png" height="35" alt="logo cocktello"> 2025 © Tous droits réservés</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<script>
    var typed = new Typed('#typed-elements', {
        strings: ['<span style="color: greenyellow">^500secoue,^1000 sirote,^1000 savoure !^1000 </span>'],
        loop: true,
        loopCount: Infinity,
        typeSpeed: 50,
        backDelay: 2000, // pause before backspacing,
        cursor: false
    });

</script>
</body>

</html>